/* Document
 * ========================================================================== */

/**
 * Add border box sizing in all browsers (opinionated).
 */

*,
::before,
::after {
  box-sizing: border-box;
}

/**
   * 1. Add text decoration inheritance in all browsers (opinionated).
   * 2. Add vertical alignment inheritance in all browsers (opinionated).
   */

::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}

/**
   * 1. Use the default cursor in all browsers (opinionated).
   * 2. Change the line height in all browsers (opinionated).
   * 3. Use a 4-space tab width in all browsers (opinionated).
   * 4. Remove the grey highlight on links in iOS (opinionated).
   * 5. Prevent adjustments of font size after orientation changes in
   *    IE on Windows Phone and in iOS.
   * 6. Breaks words to prevent overflow in all browsers (opinionated).
   */

html {
  cursor: default; /* 1 */
  line-height: 1.5; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  -webkit-tap-highlight-color: transparent /* 4 */;
  -ms-text-size-adjust: 100%; /* 5 */
  -webkit-text-size-adjust: 100%; /* 5 */
  word-break: break-word; /* 6 */
}

/* Sections
   * ========================================================================== */

/**
   * Remove the margin in all browsers (opinionated).
   */

body {
  margin: 0;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Edge, Firefox, and Safari.
   */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   * ========================================================================== */

/**
   * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
   */

dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
   * Remove the margin on nested lists in Edge 18- and IE.
   */

ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
   * 1. Add the correct sizing in Firefox.
   * 2. Show the overflow in Edge 18- and IE.
   */

hr {
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
   * Add the correct display in IE.
   */

main {
  display: block;
}

/**
   * Remove the list style on navigation lists in all browsers (opinionated).
   */

nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   * ========================================================================== */

/**
   * Remove the gray background on active links in IE 10.
   */

a {
  background-color: transparent;
}

/**
   * Add the correct text decoration in Edge 18-, IE, and Safari.
   */

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */

b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */

small {
  font-size: 80%;
}

/* Embedded content
   * ========================================================================== */

/*
   * Change the alignment on media elements in all browsers (opinionated).
   */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
   * Add the correct display in IE 9-.
   */

audio,
video {
  display: inline-block;
}

/**
   * Add the correct display in iOS 4-7.
   */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
   * Remove the border on iframes in all browsers (opinionated).
   */

iframe {
  border-style: none;
}

/**
   * Remove the border on images within links in IE 10-.
   */

img {
  border-style: none;
}

/**
   * Change the fill color to match the text color in all browsers (opinionated).
   */

svg:not([fill]) {
  fill: currentColor;
}

/**
   * Hide the overflow in IE.
   */

svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
   * ========================================================================== */

/**
   * Collapse border spacing in all browsers (opinionated).
   */

table {
  border-collapse: collapse;
}

/* Forms
   * ========================================================================== */

/**
   * Remove the margin on controls in Safari.
   */

button,
input,
select {
  margin: 0;
}

/**
   * 1. Show the overflow in IE.
   * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
   */

button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}

/**
   * Correct the inability to style buttons in iOS and Safari.
   */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * 1. Change the inconsistent appearance in all browsers (opinionated).
   * 2. Correct the padding in Firefox.
   */

fieldset {
  border: 1px solid #a0a0a0; /* 1 */
  padding: 0.35em 0.75em 0.625em; /* 2 */
}

/**
   * Show the overflow in Edge 18- and IE.
   */

input {
  overflow: visible;
}

/**
   * 1. Correct the text wrapping in Edge 18- and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   */

legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}

/**
   * 1. Add the correct display in Edge 18- and IE.
   * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
   */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
   * Remove the inheritance of text transform in Firefox.
   */

select {
  text-transform: none;
}

/**
   * 1. Remove the margin in Firefox and Safari.
   * 2. Remove the default vertical scrollbar in IE.
   * 3. Change the resize direction in all browsers (opinionated).
   */

textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
  resize: vertical; /* 3 */
}

/**
   * Remove the padding in IE 10-.
   */

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

/**
   * 1. Correct the odd appearance in Chrome, Edge, and Safari.
   * 2. Correct the outline style in Safari.
   */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Safari.
   */

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
   * Correct the text style of placeholders in Chrome, Edge, and Safari.
   */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
   * Remove the inner padding in Chrome, Edge, and Safari on macOS.
   */

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style upload buttons in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
   * Remove the inner border and padding of focus outlines in Firefox.
   */

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus outline styles unset by the previous rule in Firefox.
   */

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Remove the additional :invalid styles in Firefox.
   */

:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
   * ========================================================================== */

/*
   * Add the correct display in Edge 18- and IE.
   */

details {
  display: block;
}

/*
   * Add the correct styles in Edge 18-, IE, and Safari.
   */

dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
   * Add the correct display in all browsers.
   */

summary {
  display: list-item;
}

/* Scripting
   * ========================================================================== */

/**
   * Add the correct display in IE 9-.
   */

canvas {
  display: inline-block;
}

/**
   * Add the correct display in IE.
   */

template {
  display: none;
}

/* User interaction
   * ========================================================================== */

/*
   * 1. Remove the tapping delay in IE 10.
   * 2. Remove the tapping delay on clickable elements
        in all browsers (opinionated).
   */

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation; /* 1 */
  touch-action: manipulation; /* 2 */
}

/**
   * Add the correct display in IE 10-.
   */

[hidden] {
  display: none;
}

/* Accessibility
   * ========================================================================== */

/**
   * Change the cursor on busy elements in all browsers (opinionated).
   */

[aria-busy="true"] {
  cursor: progress;
}

/*
   * Change the cursor on control elements in all browsers (opinionated).
   */

[aria-controls] {
  cursor: pointer;
}

/*
   * Change the cursor on disabled, not-editable, or otherwise
   * inoperable elements in all browsers (opinionated).
   */

[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

/*
   * Change the display on visually hidden accessible elements
   * in all browsers (opinionated).
   */

[aria-hidden="false"][hidden] {
  display: initial;
}

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

* {
  font-family: Open-Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.loader:after {
  background: #009688;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.Login {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #009688;
}

.Login__form {
  padding: 40px 20px;
  background-color: white;
  border-radius: 3.2px;
  box-shadow: 1px 1px 20px #00000063;
}

.Login__form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 20px;
  margin-bottom: 15px;
}

.Login__form-group:not(:last-child) {
  margin-bottom: 8px;
}

.Login__form-group > input {
  font-size: 20px;
  padding: 5px 10px;
  font-family: "Open Sans";
  border: 1px solid black;
  border-radius: 3.2px;
}

.Login__form-group > label {
  text-align: left;
  margin-bottom: 8px;
  font-family: "Open Sans";
}

.Login__form-button {
  padding: 5px 20px;
  font-size: 18px;
  font-family: "Open Sans";
  margin-top: 10px;
  border-radius: 3.2px;
  background-color: #009688;
  color: white;
  border: none;
  cursor: pointer;
}

.Me {
  position: relative;
}

.Button {
  padding: 5px;
  display: flex;
  background: #cdcdcd4f;
  align-items: center;
  height: 45px;
  box-shadow: 0 1px 3px #0000003b;
  font-weight: bold;
  justify-content: center;
  border: none;
}

.bar-progress {
  width: 100%;
  height: 11px;
  background: #f8fafd;
  box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.06);
  border-radius: 11px;
  position: relative;
}

.bar-progress .green {
  width: 0;
  height: 11px;
  background: #6cf656;
  box-shadow: 0px 2px 10px rgba(108, 246, 86, 0.4);
  border-radius: 11px;
}

.bar-progress .green:after {
  content: attr(data-width);
  position: absolute;
  width: 44px;
  height: 15px;
  top: 13px;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.045em;
  color: #28745b;
  opacity: 0.6;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.review-item {
  border-bottom: 1px solid #d4d4d4;
}

.review-wrapper {
  max-height: 200px;
  overflow-y: scroll;
  box-shadow: inset -7px -5px 7px 0px #b7b6b6;
}

.input-field {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.input-field label {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.87);
  opacity: 0.38;
  padding: 10px 0;
}

.input-field input,
.input-field select {
  background: #ffffff;
  border-radius: 14px;
  height: 47px;
  padding-left: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #000000;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  width: 100%;
}

.input-field input::-webkit-input-placeholder {
  /* Edge */
  color: #b1b1b1;
}

.input-field input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b1b1b1;
}

.input-field input::placeholder {
  color: #b1b1b1;
}

.input-field select option {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.delete-button {
  float: right;
  background: transparent;
  margin-right: 10px;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid grey;
}

.MarkerContainer {
  padding: 5px;
  display: flex;
  background: #3131314f;
  align-items: center;
  box-shadow: 0 1px 3px #0000003b;
  font-weight: bold;
  margin-left: 3px;
}

.logout {
  position: absolute;
  z-index: 10;
  padding: 10px 20px;
}
